.terminalInput {
  height: 30px;
  font-size: 30px;
  line-height: 50px;
  display: inline-block;
  border: 0;
  outline: none;
  margin-bottom: 20px;
  background-color: black;
  border-bottom: 1px solid #464646;
  width: 100%;

  margin-right: auto;
}

.terminalDirectory {
  width: 25%;
  position: absolute;
  text-align: right;
  color: #9e5454;
  font-size: 25px;
  padding-right: 10px;
  display: inline-block;
  margin-right: 10px;
  left: -25%;
}

.enterInfo {
  position: absolute;
  margin-top: 15px;
}
